<style>
    .error {
        color: #ff3860;
    }

    label.is-danger {
        color: #ff3860;
    }
</style>

<div class="columns">
    <div class="column is-half is-offset-one-quarter">
        <br>
        <h1 class="title">
            <img src="/images/star.svg" alt="">
            Log in to Futureflix
        </h1>

        <hr>

        <h4 class="title is-4">Log in to your personal account</h4>

        {{#if errormessage}}
            <hr>
            <p class="error">
                {{errormessage}}
            </p>
        {{/if}}

        <form method="POST">
            <div class="field">
                <label class="label {{#if errors.email}}is-danger{{/if}}" for="email">
                    {{#if errors.email}}
                        {{errors.email.message}}
                    {{else}}
                        Email address
                    {{/if}}
                </label>
                <p class="control has-icons-left has-icons-right">
                    <input class="input {{#if errors.email}}is-danger{{/if}}" type="text" placeholder="Your email address"
                           id="email" name="email" value="{{email}}">
                    <span class="icon is-small is-left">
                        <i class="fa fa-user"></i>
                    </span>
                    {{#if errors.email}}
                        <span class="icon is-small is-right">
                            <i class="fa fa-warning"></i>
                        </span>
                    {{/if}}
                </p>
            </div>

            <div class="field">
                <label class="label {{#if errors.password}}is-danger{{/if}}" for="password">
                    {{#if errors.password}}
                        {{errors.password.message}}
                    {{else}}
                        Password
                    {{/if}}
                </label>
                <p class="control has-icons-left has-icons-right">
                    <input class="input {{#if errors.password}}is-danger{{/if}}" type="password" placeholder="Your password"
                           id="password" name="password">
                    <span class="icon is-small is-left">
                        <i class="fa fa-lock"></i>
                    </span>

                    {{#if errors.password}}
                        <span class="icon is-small is-right">
                            <i class="fa fa-warning"></i>
                        </span>
                    {{/if}}
                </p>
            </div>

            <input class="button is-primary" type="submit" value="Log in">

        </form>

    </div>
</div>
